.layout {
  min-height: 100vh !important;
  &__header {
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      cursor: pointer;
    }
  }
}
